
/* ..........first navbar................. */

*{
    font-family: "Noto Serif",serif;
}


.second-nav{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    
}

.logo {
    width: 6%;
    border-radius: 50%;

}

.search{
    
    margin-top:20px;
    height:37px;
    border: 1px solid gray;
}

.search-box{
    width: 90%;

    margin: 2px;
    padding:4px 90px;
    outline:none;
    border: none;
}

.search,
.cart,
.account,
.admin-div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-btn{
    height: 20px;
        border: none;
        background-color: white;
        
}

.icon {
    font-size: 27px;
    margin-right: 10px;
    margin-bottom: 11px;
}
  

/*................ first navbar .................*/

/*................ second navbar .................*/
.third-nav {
    display: flex;
    align-items: center;
    /* margin-left: 90px; */
    justify-content: space-around;
    border-bottom: 0.1px solid black;
}

.third-nav>p:hover {
    color: black(224, 109, 64);
    cursor: pointer;
    border-bottom: 1px solid grey;
    font-style: italic;
    text-decoration: none;
    /* font-size: larger; */
    /* padding-bottom: 20px; */
}
 

/*................ second navbar .................*/

/*................ SLIDER .................*/
.slider-text {
    color: rgb(7, 7, 7);
}

.slider-text-w {
    color: white;
}

.color-bw {
    color: white;
}

/*................ SLIDER .................*/

.first-foot,
.sec-foot,
.third-foot {
    display: flex;

    justify-content: space-around;
}

.third-foot>p {
    text-align: left;
}

.fot-p>p {
    text-align: left;

}

.company-icon {
    font-size: 27px;
    margin-right: 12px;
}

.black-btn {
    width: 50%;
    padding: 7px;
    background-color: black;
    color: white;
}

.service-icon {
    font-size: 20px;
}

/* -----------footer end ---------*/

